<header class="header">
  <div class="masthead">
    <div class="masthead__top">
      <a class="masthead__title" href="{{ ($.Site.Params.logo.logoHomeLink | default "/") | relURL }}">
        {{- $.Site.Params.logo.logoText | default $.Site.Title -}}
      </a>
    </div>
    {{ if len $.Site.Menus }}
    <nav class="masthead__menu">
      {{ range $.Site.Menus.main }}
      <a href="{{ .URL }}"{{ if hasPrefix $.RelPermalink .URL }} class="active"{{ end }}>{{ .Name }}</a>
      {{ end }}
    </nav>
    {{ end }}
  </div>
</header>
